###################################################################### macOS ##
.DS_Store*
Icon

 # custom finder icon (see: https://stackoverflow.com/a/21111738/579167)
thumbs.db
._*

##################################################################### common ##
tmp
logs
public
*.log
pids
*.pid
*.pid.lock
*.seed
*.csv
*.dat
*.out
*.env
*.gz
.directory

######################################################################## vim ##
Session.vim

####################################################################### rust ##
/target
**/*.rs.bk
Cargo.lock
